.contener {
    width:80%;
    margin:0 auto;
    margin-top:50px;
    border:solid black 1px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.contener>* {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.rouge {
    background-color: red;
}

.bleu {
    background-color: blue;
}
.vert {
    background-color: green;
}

.jaune {
    background-color: yellow;
}
.orange {
    background-color: orange;
}